<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

</head>

<table class="table">
    <thead>
        <tr>
            <td>Customer's Name</td>
            <td>
                <i type="button" class="fa fa-heart fa-2x" style="color:green"></i>
            </td>
            <td>
                <i type="button" class="fa fa-thumbs-down fa-2x" style="color:red"></i>
            </td>
            <td>Comments</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of revArray">

            <td>{{o.cust.first+" "+o.cust.last}}</td>
            <td>{{o.good}}</td>
            <td>{{o.bad}}</td>
            <td>
                <table class="table-condensed">
                    <tr *ngFor="let i of o.comments">
                        <td>{{i}}</td>
                    </tr>
                </table>
            </td>
        </tr>

    </tbody>
</table>