<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">

</head>

<table class="table">
    <thead>
        <tr>
            <td>Customer's Name</td>
            <td>Order Time</td>
            <td>Price</td>
            <td>Address</td>
            <td>Order</td>
            <td>Status</td>
            <td>Last Action</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of ordersList">
            <td>{{o.customer.first+" "+o.customer.last}}</td>
            <td>{{o.orderTime.toString() | date:'short'}}</td>
            <td>{{o.price | currency}}</td>
            <td>{{ (o.address != null) ? o.address.address : "No Delivery"}}</td>
            <td>
                <table class="table-condensed">
                    <tr *ngFor="let i of o.orderItems">
                        <td>{{i.menuItem.name+" x "+i.quantity}}</td>
                    </tr>
                </table>
            </td>
            <td>{{o.status | ostatus}}</td>
            <td>{{o.lastActionTime.toString()| date:'short'}}</td>
            <td><i type="button"  class="fa fa-heart fa-2x" [ngStyle]="{'color':o.review.goodRating == true  ? 'green' : 'grey'}"  (click)="rateGood(o)"></i></td>
            <td><i type="button" class="fa fa-thumbs-down fa-2x"  [ngStyle]="{'color':o.review.goodRating == false ? 'red' : 'grey'}" aria-hidden="true" (click)="rateBad(o)"></i></td>
            <td>
                <button *ngIf="o.review != null" type="button" class="btn btn-info btn-lg" (click)="commentOrder(o)">Comment</button>
            </td>
        </tr>

    </tbody>
</table>