<h2>Order by {{order.customer == null ? "guest" : order.customer.first+" "+order.customer.last}}</h2>

<table class="table">
    <tbody>
        <tr>
            <td>Order Time: </td>
            <td>{{order.orderTime.toString() | date:'medium'}}</td>
        </tr>
        <tr>
            <td><strong>{{order.address != null ? "Deliver to " : "Pick-up"}}</strong></td>
            <td>{{(order.address != null ? order.address.address + ", " + order.address.city + ", " + order.address.state + " " + order.address.zipCode : "")}}</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Order Details:</strong></td>
        </tr>
        <tr *ngFor="let itm of order.orderItems">
            <td>{{itm.menuItem.name + " x " + itm.quantity}}</td>
            <td>{{(itm.menuItem.price * itm.quantity) | currency}}</td>
        </tr>
        <tr>
            <td><strong>Total: </strong></td>
            <td>{{order.price | currency}}</td>
        </tr>
        <tr>
            <td>{{(order.status | ostatus) + " since "}}</td>
            <td>{{order.lastActionTime | date:'medium'}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-info btn-lg" (click)="closeComponent()">Return Without Updating</button>
<button type="button" class="btn btn-info btn-lg">Update</button>
<br>