

button {
    margin: 1em;
}

h2 {
    text-align: center;
}

.button-container {
    margin: 0 auto;
    width: 92%;
    text-align: center;
}

.button-row {
    display: inline-block;
    text-align: center;
}

.request-status {
    text-align: center;
}