<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Customer Sign Up</h1>
    </header>
    <section id="modal-body">
        <form #custSignUp="ngForm" (ngSubmit)="onClickSubmit(custSignUp.value)">

            <div class="container">
                <div class="formgroup">
                    <label for="user" style="background-color: #ffffff">Username:</label>
                    <input class="form-control" required type="text" required placeholder="Username" name="username" id="username" ngModel/>
                    <br>
                </div>
                <div class="formgroup">
                    <label for="req_type" style="background-color: #ffffff">Password:</label>
                    <input class="form-control" required type="text" placeholder="Password" name="password" id="password" ngModel/>
                    <br>
                </div>
                <div class="formgroup">
                    <label for="first" style="background-color: #ffffff">Firstname:</label>
                    <input class="form-control" required type="text" placeholder="Firstname" name="firstname" id="firstname" ngModel/>
                    <br>
                </div>
                <div class="formgroup">
                    <label for="last" style="background-color: #ffffff">Lastname:</label>
                    <input required type="text" class="form-control" placeholder="Lastname" name="lastname" id="lastname" ngModel/>
                    <br>
                </div>

                <input class='btn btn-success' type="submit" value="Sign Up">

                <button mat-raised-button id="modal-cancel-button" type="button" class="btn btn-dark" (click)="closeModal()">Go back</button>
            </div>
        </form>
      
    </section>
</div>