<table>
    <thead>
        <tr>
            <td>Customer's Name</td>
            <td>Order Time</td>
            <td>Price</td>
            <td>Address</td>
            <td>Order</td>
            <td>Status</td>
            <td>Last Action</td>
            <td>Update</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of ordersList">
            <td>{{o.customer.first+" "+o.customer.last}}</td>
            <td>filler</td>
            <td>${{o.price}}</td>
            <td>{{o.address.address}}</td>
            <td><table><tr *ngFor="let i of o.orderItems"><td>{{i.menuItem.name+" x "+i.quantity}}</td></tr></table></td>
            <td>{{o.status}}</td>
            <td>filler</td>
            <td><button type="button">click</button></td>
        </tr>

    </tbody>
</table>