<h2>Please confirm your order</h2>


<table class="table">
    <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of order.orderItems">
            <td>{{o.menuItem.name}} x {{o.quantity}}</td>
            <td>{{o.menuItem.price | currency}}</td>
        </tr>
        <tr>
            <td><strong>Total price: </strong></td>
            <td><strong>{{order.price | currency}}</strong></td>
        </tr>
    </tbody>
</table>
<h3>For {{order.address == null ? "pick-up" : "delivery"}}</h3>
<ng-container *ngIf="order.address">
    <p>Deliver to:</p>
    <p>{{order.address.address}}</p>
    <p>{{order.address.city}} {{order.address.state}} {{order.address.zipCode}}</p>
</ng-container>
<div class="container">
    <span class="button-row">
        <button class="button" class="btn btn-primary btn-lg" (click)="addOrder()">Submit Order</button>
        <button class="button" class="btn btn-secondary btn-lg" (click)="cancel()">Return</button>
    </span>
</div>
<div class="container" [style]="badAction ? 'color:red' : 'color:green'"><p style="white-space: pre-line">{{comStatus}}</p></div>