<img src="/assets/header2.jpg" alt="Header"/>
<h1>Menu</h1>
<table>
    <thead class = menuT>
        <tr>
            <td>Menu Item</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Add to Order</td>
            <!--<td>Add to Inventory</td>--> <!--Will uncomment this line when onto the correct story-->
        </tr>
    </thead>
    <tbody class = menuI>
        <tr *ngFor="let m of menuItemList">
            <td>{{m.name}}</td>
            <td>{{m.quantity}}</td>
            <td>{{m.price | currency }}</td>
            <td><button type="button" class="btn btn-info btn-sm">Add to Order</button></td>
            <!--<td><button type="button" class="btn btn-info btn-sm"> + </button></td> should only be seen by the manager-->
        </tr>
    </tbody>
</table>