.DJAMHeader {
    font-size: 20pt;
    text-align:center;
}
#removebutton{
    background-color: red;
}
/* body {
    background-image: url("https://wallpaperaccess.com/full/1320593.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */