.DJAMHeader {
    font-size: 20pt;
    text-align:center;
}
#removebutton{
    background-color: red;
}
/* body {
    background-image: url("https://wallpaperaccess.com/full/1320593.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */

  div.container{
    width: fit-content;
    padding: 11px;
    margin: auto;
    text-align: center;
  }
  
  div.address{
    width: fit-content;
    padding: 9px;
    margin: auto;
  }

  p.count{
    width: 1em;
    text-overflow: clip;
    text-align: center;
  }

.inv:disabled {
    background: #999;
    color: #555;
    cursor: not-allowed;
}

.active, .butn:hover {
    background-color:darkgray;
    color: yellow;
  }

  .butn {
    border: black;
    outline: black;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  .divider{
    width:10px;
    height:auto;
    display:inline-block;
}