<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a routerLink="/pending-orders">Pending Orders</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/review">Review Orders</a>
    <button *ngIf="cust != null && cust.stars >= 5" mat-raised-button id="logout-button" (click)="claimReward()">Claim reward</button>
    <button *ngIf="user == null" mat-raised-button id="logout-button" (click)="openLoginModal()">Login</button>
    <button *ngIf="user == null"mat-raised-button id="logout-button" (click)="openModal()">Sign Up</button>
    <button *ngIf="user != null"mat-raised-button id="logout-button" (click)="logout()">Logout</button>
    <div *ngIf="cust != null" id=divStar style.display='none'>
        <p id="emptyStar">
            {{cust.first + " " + cust.last}}
            <i class="fa fa-star" *ngFor="let j of [1,2,3,4,5]" [ngStyle]="{'color':cust.stars >= j ? 'yellow' : 'white'}"></i>          
        </p>
    </div>
</div>