<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<div id = "myDIV" class="topnav">
    <a routerLink="/">Home</a>
    <a *ngIf="getEmployee()"routerLink="/pending-orders" [routerLinkActive]="'btn active'">Pending Orders</a>
    <a *ngIf="getEmployee()"routerLink="/customer-reviews" [routerLinkActive]="'btn active'">Customer Reviews</a>
    <a routerLink="/menu" [routerLinkActive]="'btn active'">Menu</a>
    <a *ngIf="getCustomer()" routerLink="/review"[routerLinkActive]="'btn active'" >Review Orders</a>
    <button *ngIf="getCustomer() != null && (getCustomer()).stars >= 5" routerLink="/" mat-raised-button id="logout-button" (click)="claimReward()">Claim reward</button>
    <button *ngIf="user == null" mat-raised-button id="logout-button" (click)="openLoginModal()">Login</button>
    <button *ngIf="user == null"mat-raised-button id="logout-button" (click)="openModal()">Sign Up</button>
    <button *ngIf="user != null"mat-raised-button id="logout-button" routerLink="/" (click)="logout()">Logout</button>

    <div *ngIf="getCustomer() != null" id=divStar style.display='none'>
        <p id="emptyStar">
            {{getCustomer().first + " " + getCustomer().last}}
            <i class="fa fa-star" *ngFor="let j of [1,2,3,4,5]" [ngStyle]="{'color':this.user.customer.stars >= j ? 'yellow' : 'white'}"></i>          
        </p>
    </div>
</div>