<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>
<nav id = "myDIV" class="topnav navbar navbar-expand-lg">
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="getEmployee()">
            <a routerLink="/pending-orders" [routerLinkActive]="'nav-item active'">Pending Orders</a>
        </li>
        <li class="nav-item" *ngIf="getEmployee()">
            <a routerLink="/customer-reviews" [routerLinkActive]="'nav-item active'">Customer Reviews</a>
        </li>
        <li class="nav-item">
            <a routerLink="/menu" [routerLinkActive]="'nav-item active'">Menu</a>
        </li>
        <li class="nav-item" *ngIf="getCustomer()">
            <a routerLink="/review" [routerLinkActive]="'nav-item active'" >Review Orders</a>
        </li>
        <li class="nav-item" *ngIf="getCustomer() != null && (getCustomer()).stars >= 5">
            <button routerLink="/" mat-raised-button id="logout-button" (click)="claimReward()">Claim reward</button>
        </li>
        <li class="nav-item" *ngIf="user == null">
            <button mat-raised-button id="logout-button" (click)="openLoginModal()">Login</button>
        </li>
        <li class="nav-item" *ngIf="user == null">
            <button mat-raised-button id="logout-button" (click)="openModal()">Sign Up</button>
        </li>
        <li class="nav-item" *ngIf="user != null">
            <button mat-raised-button id="logout-button" routerLink="/" (click)="logout()">Logout</button>
        </li>
    </ul>        

    <ul *ngIf="getCustomer() != null" id="divStar" class="nav navbar-nav ml-auto">
        <li id="emptyStar">
            {{getCustomer().first + " " + getCustomer().last}}
            <i class="fa fa-star" *ngFor="let j of [1,2,3,4,5]" [ngStyle]="{'color':this.user.customer.stars >= j ? 'yellow' : 'white'}"></i>          
        </li>
    </ul>
</nav>